{% extends 'base.html' %}
{% load static %}
{% block content%}
{% include 'main_navbar.html' %}
<section class="p-4">
    <div class="container_404 d-flex flex-column justify-content-center align-items-center">
        <img src="{% static 'images/GPLA School Logo.jpeg' %}" alt="" class=" schoollogo img-fluid">
        <h3 class="display1 mt-0">GracePath Learning Academy</h3>
        <p class="sideline_text mt-2"><i class="fa-solid fa-triangle-exclamation h3 me-2"></i> Result upload in Progress ............ please Check Back later </p>
    </div>
</section>
{% include 'main_footer.html' %}
{% endblock %}